<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>

            <div class="ref-info">
                <div class="ref-author">
                    <strong>马自达项目</strong>
                    <span>2016 - Now | 大连IBM</span>
                </div>

                <blockquote class="ref-cont clear-mrg">
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </blockquote>
            </div>
            <br />
            <div class="ref-info">
                <div class="ref-author">
                    <strong>本田项目</strong>
                    <span>2014 - 2016 | 大连IBM</span>
                </div>

                <blockquote class="ref-cont clear-mrg">
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </blockquote>
            </div>
        </div>
    </div>
</section><!-- .section -->